# Node modules
node_modules/

# Build output
dist/
build/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
jspm_packages/

# IDE and editor specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# macOS specific files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
Thumbs.db
